/* jetbrains-mono-regular - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/jetbrains-mono-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/jetbrains-mono-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/jetbrains-mono-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/jetbrains-mono-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/jetbrains-mono-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/jetbrains-mono-v11-latin-regular.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
}

/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-v25-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* merriweather-sans-regular - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merriweather-sans-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merriweather-sans-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-sans-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-sans-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-sans-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-sans-v20-latin-regular.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v26-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v26-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v26-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/raleway-v26-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v26-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v26-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v26-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v26-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v26-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Merriweather Sans', Sans-Serif;
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .article-meta, .footer {
  font-family: "Noto Sans", Sans-Serif;
}
code {
  font-family: 'Merriweather Sans', sans;
  font-size: 100%;
}
